<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.liwy.happy">

    <application android:allowBackup="true"
        android:icon="@mipmap/mhappy_ic_launcher"
        android:supportsRtl="true"
        android:name="com.liwy.easylibrary.base.EasyApplication"
        android:theme="@style/mhappy_AppTheme">
        <activity android:name=".controllers.joke.JokeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>