<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.liwy.music">

    <application android:allowBackup="true"
        android:supportsRtl="true">

        <activity android:name=".controllers.MusicActivity">
        </activity>

        <service android:name=".service.PlayService" />

        <receiver android:name=".receiver.StatusBarReceiver">
            <intent-filter>
                <action android:name="me.wcy.music.STATUS_BAR_ACTIONS" />
            </intent-filter>
        </receiver>
    </application>

</manifest>